<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div class="wrapper">
    <div class="logo">
        <img src="https://th.bing.com/th/id/OIP.2ElxTnBFQoxmqUWM_WdCogAAAA?rs=1&pid=ImgDetMain" alt="hUNAR">
    </div>
    <div class="text-center mt-4 name">
        Log In
    </div>
    <% if (messages.error && messages.error.length > 0) { %>
        <div class="error">
            <% messages.error.forEach(function(msg) { %>
                <%= msg %>
              <% }); %>
        </div>
      <% } %>
    <form class="p-3 mt-3" action="/login" method="post">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a>
    </div>
</div>
</body>
</html>